{% extends 'bootstrap/base.html' %}                                                                                      <!-- Die aktuelle Datei erweitert die Datei "base.html" aus dem Bootstrap-Verzeichnis.-->
{% import "bootstrap/wtf.html" as wtf %}                                                                                 <!-- Es wird das WTForms-Template aus dem Bootstrap-Verzeichnis importiert und als "wtf" bezeichnet.-->

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">                         <!--Hier werden die CSS-Styles definiert, die für      -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">                             <!--die Seite verwendet werden sollen, darunte         -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">                                      <!-- auch die Verlinkung von Google-                   -->
{% endblock %}                                                                                                           <!-- Schriftarten und einer lokalen CSS-Datei.         -->

{% block title %}Edit Movies{% endblock %}                                                                               <!-- Hier wird der Titel des HTML-Dokuments festgelegt.-->

{% block content %}
<div class="content">                                                                                                    <!-- Hier wird der Inhalt der Seite definiert.         -->
  <h1 class="heading">{{movie.title}}</h1>                                                                               <!-- Innerhalb des Blocks wird eine Überschrift mit    -->
    <p class="description">Edit Movie Rating</p>                                                                         <!-- dem Titel des Films erstellt, ein Text zu         -->
        {{ wtf.quick_form(form, novalidate=True) }}                                                                      <!-- Bearbeiten des Film-Ratings angezeigt und ein     -->
  </div>                                                                                                                 <!-- Formular zum Bearbeiten des Ratings mithilfe      -->
{% endblock %}                                                                                                           <!-- des importierten WTForms-Templates erstellt.      -->